# {{ ansible_managed }}
global
    log 127.0.0.1:514	local0
    log 127.0.0.1:514 local0 info
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user        haproxy
    group       haproxy
    daemon
    pidfile     /var/run/haproxy.pid
    maxconn     4000


#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000


################################################################## API FRONTEND
frontend k8s-frontend-api
   bind *:{{ kubernetes_loadbalancer_api_port }}
   mode tcp
   option tcplog
   default_backend k8s-backend-api


################################################################# HTTP FRONTEND
frontend k8s-frontend-http
   bind *:{{ kubernetes_loadbalancer_http_port }}
   mode tcp
   option  tcplog
   option forwardfor
   default_backend k8s-backend-http


################################################################ HTTPS FRONTEND
frontend k8s-frontend-https
   bind *:{{ kubernetes_loadbalancer_https_port }}
   mode tcp
   option  tcplog
   option forwardfor
   default_backend k8s-backend-https


################################################################## SSH FRONTEND
frontend k8s-frontend-ssh
   bind *:{{ kubernetes_loadbalancer_ssh_port }}
   timeout client 60s
   mode tcp
   default_backend k8s-backend-ssh


################################################################ STATS FRONTEND
frontend k8s-frontend-stats
   bind *:{{ kubernetes_loadbalancer_stats_port }}
   stats enable
   stats uri {{ kubernetes_loadbalancer_stats_endpoint }}
   stats refresh 20s
   stats admin if TRUE


################################################################## API BACKTEND
backend k8s-backend-api
   mode tcp
   option tcplog
   option tcp-check
   balance roundrobin
   default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for host in groups['masters'] %}
   server {{ host }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:{{ kubernetes_loadbalancer_api_port }} check
{% endfor %}


################################################################# HTTP BACKTEND
backend k8s-backend-http
   mode tcp
   option  tcplog
   option log-health-checks
   balance roundrobin
   default-server inter 10s fall 3 rise 3
{% for host in groups['workers'] %}
   server {{ host }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:{{ kubernetes_loadbalancer_http_port }} check
{% endfor %}


################################################################ HTTPS BACKTEND
backend k8s-backend-https
   mode tcp
   option  tcplog
   option ssl-hello-chk
   option log-health-checks
   balance roundrobin
   default-server inter 10s fall 3 rise 3
{% for host in groups['workers'] %}
   server {{ host }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:{{ kubernetes_loadbalancer_https_port }} check
{% endfor %}


################################################################## SSH BACKTEND
backend k8s-backend-ssh
   timeout server 60s
   timeout connect 60s
   mode tcp
   server {{ kubernetes_admin_dns }} {{ kubernetes_admin_ip }}:22 check


